body {
    margin: 0px;
    padding: 0px;
    background-color: #b4daff;
}

body::before {
    height: 0px;
}

.sticky {
    background-color: cornflowerblue;
}

.sticky h2 {
    line-height: 0.9em;
}

.App {
    margin: 8px;
    padding: 0;
}

/*.container {
    padding: 0;
}*/

.mapColumn, .dataColumn {
    padding: 0;
}